/*@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

body {
  margin: 0;
  padding: 0;
  font-family: Times, serif;
  background-color: black;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.logo {
  width: 200px;
}

.fate {
  /*
  width: 1093px;
  height: 716px;*/
  margin-left: -1.9px;
  width: 1518px;
  height: 562px;
}

.border {
  width: 1518px;
  position: relative;
  background: linear-gradient(to right, #e60000, #ff00aa, #6b00e6, #1b00e6, 
  #00bce6, #00e67b, #f9f100, #f08800);
  padding: 2px;
}

.border1 {
  width: 1515px;
  position: center;
  background: linear-gradient(to right, #f08800, #d3e600, #00e67b, #00bce6, #1b00e6, #6b00e6, #ff00aa, #e60000);
  padding: 2px;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #cfcfcf;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #cfcfcf;
}

/* BANNER */

.container1 {
  display: flex;
}

.banner .container1
{
  height: 575px;
}

.card1
{
  background-image: url("../assets/icon/original.gif");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
}

.video{
  margin-top: 30px;
  margin-right: 30px;
  height: 500px;
  border-radius: 15px;
  border: solid 5px #ffffffd1;
}


.titulo {
  width: fit-content;
  font-weight: 100;
  font-size: x-large;
}

.banner {
  height: fit-content;
  color: white;
  /*border-top:#e6005a solid 3px;*/
  background-size: cover;
  object-fit: cover;
}

.banner .container {
  height: 572px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: #000000;
  background-image: url("../assets/imgs/Glitter.gif");
  display: flex;
  Color: #ffffff;
}

.social .container{
  justify-content: center;
  text-align: justify;
}

.box img {
  width: 296px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.books {
  border-radius: 10px;
}

.box {
  margin-top: 30px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  /*background-color:#e6005a;*/
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
}


/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #ffffff;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  background-image: url("../assets/imgs/fundo3.jpg");
  background-size: cover;
  margin-left: 10px;
  display: flex;
}

.simulador .container {
  width: 740px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-right: 800px;
  margin-bottom: 10px;
  color:#000000;
  border: double #000000 10px;
  border-radius: 20px;
  background-color: #ffffff3f;
  flex-direction: column;
  text-align: justify;
}

.PaNews
{
  font-size: 18px;
}

.tituloNews
{
  font-weight: 800px;
}

.social1 {
  background-color: #000000;
  /* background-image: url("../assets/imgs/Glitter.gif");
  background-size: cover; */
  display: flex;
  Color: #ffffff;
}

.social1 .container{
  justify-content: center;
  text-align: justify;
}

.social1 .container .boxes {
  display: flex;
}

.social1 p {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
}

.box1 {
  border-left:#e5e5e59b dotted 2px;
  border-right:#e5e5e59b dotted 2px;
  border-radius: 10px;
  /* margin-top: 2px;
  margin-bottom: 2px; */
  margin-left: 5px;
  margin-right: 5px;
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 img {
  width: 239px;
}