/* pagina mural */

*,
body {
  font-family: Times, sans-serif;
}

.dash-right .avisos {
  /* width: 100%;
    height: 100%; */
    /* border: 3px solid pink; */
    background-size: cover;
    background-image: url('../assets/imgs/Glitter.gif');
    color: rgb(216, 216, 216);
    font-family: "times", sans-serif;
}

.dash-right .avisos .container {
  /* background-color: #ffffff78; */
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 98%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  color: white;
  background-color: #212124;
  border: 2px solid #cfcfcf;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #212124;
  border: 2px solid #cfcfcf;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #00000068;
  border: 2px solid #cfcfcf;
  width: 80px;
}

.publicacao {
  display: flex;
  border-radius: 15px;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: white;
  background-color: #00000092;
  border-bottom: 2px solid #cfcfcf;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
  height: 100%;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash {
  background-image: url(../assets/imgs/Glitter.gif);
    /* width: 74.6%; */
    position: absolute;
    background-size: cover;
    top: 0;
    left: 25.3%;
    /* height: 100vw; */
    margin-bottom: 7%;

  /* width: 75%;
    display: flex;
    background-color: #161618;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
}

.dash1 {
  background-image: url(../assets/imgs/Glitter.gif);
width: 74.6%;
background-size: cover;
position: absolute;
top: 0;
left: 25.3%;
height: 100%;
margin-bottom: 7%;

/* width: 75%;
display: flex;
background-color: #161618;
flex-direction: column;
align-items: center;
justify-content: space-around;*/
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bloom {
  background-color: #e63121;
}

.stella {
  background-color: #fdfa53;
}

.musa {
  background-color: #a024d3;
}

.terra {
  background-color: #32b242;
}

.aisha {
  background-color: #4b84d3;
}

.beatrix {
  background-color: #053fa3;
}

.item-regua {
  padding: 5px;
  width: 70px;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* height: 100vw; */
  /* width: 100%; */
  align-items: center;
  color: white;
}
.container1 {
  width: 80%;
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
}

.boxex{
  display:flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

.box2 {
  border-left:#e5e5e59b dotted 2px;
  border-right:#e5e5e59b dotted 2px;
  border-radius: 10px;
  /* margin-top: 2px;
  margin-bottom: 2px; */
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box2 img {
  width: 239px;
}

.card {
  margin: 2%;
    width: 46%;
    flex-wrap: wrap;
    display: flex;
    /* text-align: center; */
    /* height: 551px; */
    justify-content: left;
    background-color: #212124ad;
    font-size: 20px;
    border-radius: 10px;
}

.card p {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.cards h1 {
  font-size: 44px;
  /* width: 100%; */
  font-weight: lighter;
  margin: 20px;
}

.quantidade{
  display: flex;
    flex-direction: row;
    margin: 5px 15px 15px 15px;
    /* width: 100%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  margin-right: 2%;
  /* background-color: #c7c7c7; */
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  margin-left: 29px;
  margin-right: 36px;
  flex-wrap: wrap;
}

.graph {
  background-color: #212124ad;
  width: 80%;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.btn-chart1 {
  display: flex;
    align-items: center;
    width: 127px;
    /* height: 116px; */
    /* font-family: "Exo 2", sans-serif; */
    border: 0;
    justify-content: center;
    /* border-radius: 60px; */
    /* font-weight: 700; */
    /* font-size: 18px; */
    /* padding: 11px 11px; */
    background-color: transparent;
    /* color: white; */
    margin: 7px;
}

.btn-chart2 {
  display: flex;
    align-items: center;
    width: 127px;
    /* height: 116px; */
    /* font-family: "Exo 2", sans-serif; */
    border: 0;
    justify-content: center;
    /* border-radius: 60px; */
    /* font-weight: 700; */
    /* font-size: 18px; */
    /* padding: 11px 11px; */
    background-color: transparent;
    /* color: white; */
    margin: 7px;
}

.btn-chart3 {
  display: flex;
    align-items: center;
    width: 127px;
    /* height: 116px; */
    /* font-family: "Exo 2", sans-serif; */
    border: 0;
    justify-content: center;
    /* border-radius: 60px; */
    /* font-weight: 700; */
    /* font-size: 18px; */
    /* padding: 11px 11px; */
    background-color: transparent;
    /* color: white; */
    margin: 7px;
}

.btn-chart4 {
  display: flex;
    align-items: center;
    width: 127px;
    /* height: 116px; */
    /* font-family: "Exo 2", sans-serif; */
    border: 0;
    justify-content: center;
    /* border-radius: 60px; */
    /* font-weight: 700; */
    /* font-size: 18px; */
    /* padding: 11px 11px; */
    background-color: transparent;
    /* color: white; */
    margin: 7px;
}

.btn-chart5 {
  display: flex;
    align-items: center;
    width: 127px;
    /* height: 116px; */
    /* font-family: "Exo 2", sans-serif; */
    border: 0;
    justify-content: center;
    /* border-radius: 60px; */
    /* font-weight: 700; */
    /* font-size: 18px; */
    /* padding: 11px 11px; */
    background-color: transparent;
    /* color: white; */
    margin: 7px;
}

.btn-chart6 {
  display: flex;
    align-items: center;
    width: 127px;
    /* height: 116px; */
    /* font-family: "Exo 2", sans-serif; */
    border: 0;
    justify-content: center;
    /* border-radius: 60px; */
    /* font-weight: 700; */
    /* font-size: 18px; */
    /* padding: 11px 11px; */
    background-color: transparent;
    /* color: white; */
    margin: 7px;
}

.imgRegua{
  height: 150px;
}

.imgRegua3{
  padding-bottom: 12px;
    height: 148px;
}

.imgRegua2{
  height: 170px;
}

.border {
  left: 25%;
  position: fixed;
  height: 100%;
  background: linear-gradient(to top, #f08800, #d3e600, #00e67b, #00bce6, #1b00e6, #6b00e6, #ff00aa, #e60000);
  padding: 2px;
}

.border2 {
  left: 1px;
    position: absolute;
    height: 100%;
    background: linear-gradient(to top, #f08800, #d3e600, #00e67b, #00bce6, #1b00e6, #6b00e6, #ff00aa, #e60000);
    padding: 2px;
}

.imgcards
{
  border-radius: 10px;
  height: 318px;
  width: 491px;
  
}

.card_card{
  display: flex;
  /* font-size: 22px; */
  width: 100%;
  /* align-items: center; */
  justify-content: left;
  border-bottom: solid white 3px;
  font-weight: lighter;
  margin: 20px;
  margin-left: 20px;
  flex-direction: row;
}

.imgRegua1{
  display: flex;
    flex-direction: center;
    height: 110px;
    /*margin-right: 280px; */
}